html {
	font-size: 62.5%; 
}

/*NAVBAR*/
.navbar{
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-shadow: whitesmoke 0pt 1pt;
}
.navbar_item{
	font-size: 1.5em;
	padding: 0.2em;
}
/* Link Formatting */
a { 
	text-decoration: none;
	color: black;
	outline: none;
}
a:visited {color:black;}
a:hover {color:gray;}

/* Main Body */
.main_body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 1.6;
	font-weight: 400;
	margin: auto;
	margin-top: 2%;
	margin-left: 20%;
	margin-right: 20%;
}
/* Main body */
.post_preview{
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	margin: auto;
	padding: 0.5rem;
	/*box-shadow: whitesmoke 0pt 2pt;*/
}
.post_image img{
	max-width: 20rem;
	max-height: 20rem;
	padding-right: 4rem;
}
.post_text{
	display: inline-block;
	overflow: hidden;
}
